@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&family=Titillium+Web:ital,wght@0,300;0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Roboto:ital,wght@0,400;0,700;1,400&family=Titillium+Web:ital,wght@0,300;0,400;0,700;1,300&display=swap');

/*font-family: 'Parisienne', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Titillium Web', sans-serif;
*/
*{
  margin: 0;
  padding: 0;
}
:root{
  --darkBlueMain : #022859;
  --darkBlue : #4e74bf;
  --lightBlueOp : rgba(3,217,217,0.25);
  --lightBlueMain : #03d9d9;
  --lightBlue : #04d9c3;
  --red : #ff004f;
  --grey : #e5e5e5;
  --lightGrey: #AFAFAF
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}.full-screen-div {
    width: 100vw;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*all inputs*/
input {
  background-color: var(--grey);
  padding: 0.5rem;
  border-radius: 17px;
  border-color: var(--darkBlueMain);
  margin-bottom: 15px;
} 

input::placeholder {
  font-size: 12px;
  color: var(--lightGrey);
  padding: 5px 10px;
  font-style: italic ;
  font-weight: 500;
}

label {
  color: var(--darkBlueMain);
  font-size: 16px;
  font-weight: 600;
  font-style: italic ;
  margin-bottom: 7px;
}



