.doctorBadge{
    padding: 15px 5px 15px 30px;
    margin-bottom: 10px;
    display: flex;
    border: 1px solid var(--grey);
    flex-direction: row;
    align-items:center ;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
    height: 150px;
    .doctorBadge__left{
        align-self: flex-start;
        max-width: 150px;
        .avatar{
            margin-top: 5px;
            width: 80px;
            height: 80px;
            border: 2px solid var(--darkBlueMain);
        }
    }
    
    .doctorBadge__Info{
        height: 100%;
        width: 100%;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        .username{
            font-size: 24px;
            font-family: 'Titillium Web', sans-serif;
            color:  var(--darkBlueMain);
            font-weight: 700;

        }
        .doctorBadge__InfoFooter{

            display: flex;
            align-items: center;
            
        }
        .doctorBadge__InfoAbout{
            font-family: 'Titillium Web', sans-serif;
            font-weight: 400;
            max-width: 100%;
            color: var(--darkBlueMain);
            font-size: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0px 5px 10px 0px;
            p{
                margin: 0;
            }

        }

    }
    transition: all 180ms ease-in-out;
}
.doctorBadge:hover{
    transform: scale(1.02);
    background-color: var(--lightBlueOp);

}
